{{!< main}}

<section class="error">
        <div class="error__content">
            {{> title title='404'}}
            <p>Страница не найдена :(</p>
            {{> link href="chats.hbs" text='Назад к чатам'}}
        </div>
</section>

