{{!< main}}

<section class="error">
        <div class="error__content">
            <h3>404</h3>
            <p>Страница не найдена :(</p>
            <a href="#">Назад к чатам</a>
        </div>
</section>

