{{!< main}}

<section class="chats">
    <div class="chats__content">
        <aside class="users">
            {{> link href='profile.hbs' text='Профиль >'}}
            {{> input type='search' placeholder='Поиск'}}
            <div class="users__list">
                {{> user name='Андрей' time='10.49' message='Изображение' counter='2' ClassUserCounter='user__counter'}}
                {{> user name='Киноклуб' time='12.00' yourMessage='Вы: ' message='стикер'}}
                {{> user name='Илья' time='15.12' message='Друзья, у меня для вас особенный выпуск новостей!...' counter='2' ClassUserCounter='user__counter'}}
                {{> user name='Вадим' classUser="active" time='Пт' yourMessage='Вы: ' message='Круто!'}}
                {{> user name='тет-а-тет' time='Ср' message='И Human Interface Guidelines и Material Design рекомендуют...'}}
                {{> user name='1, 2, 3' time='Пн' message='Миллионы россиян ежедневно проводят десятки часов свое...'}}
                {{> user name='Design Destroyer' time='Пн' message='В 2008 году художник Jon Rafman  начал собирать...'}}
                {{> user name='Day.' time='1 мая 2020' message='Так увлёкся работой по курсу, что совсем забыл его анонсир...'}}
                {{> user name='Стас Рогозин' time='12 Апр 2020' message='Можно или сегодня или завтра вечером.'}}
            </div>
        </aside>
        <div class="messages">
            <div class="messages__top">
                <div class="messages__user-info">
                    <img src="../assets/img/avatar.svg" alt="Аватар пользователя">
                    <p>Вадим</p>
                </div>
                <img class="messages__settings" src="../assets/img/settings-icon.svg" alt="Меню параметров">
                <div class="menu messages__menu">
                    <p><img src="../assets/img/add-user.svg" alt="Добавить пользователя">Добавить пользователя</p>
                    <p><img src="../assets/img/remove-user.svg" alt="Удалить пользователя">Удалить пользователя</p>
                </div>
            </div>
            <div class="chat">
                <div class="chat__date">
                    <span>19 июня</span>
                </div>
                <div class="chat__item chat__set ">
                    <div class="chat__text chat__bg--set">
                        <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то
                            момент
                            попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что
                            астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще
                            находятся на
                            поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.</p>

                        <p>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так
                            никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на
                            аукционе
                            за 45000 евро.</p>
                        <span>11:56</span>
                    </div>
                </div>
                <div class="chat__item chat__set">
                    <div class="chat__text chat__bg--set">
                        <img src="../assets/img/camera.png" alt="Изображение">
                    </div>
                </div>
                <div class="chat__item chat__get">
                    <div class="chat__text chat__bg--get">
                        <p>Круто!</p>
                        <span><img src="../assets/img/ok.svg" alt="Отправлено">11:56</span>
                    </div>
                </div>
            </div>
            <div class="send">
                <img class="send__file" src="../assets/img/send-icon.svg" alt="Отправить файл">
                <textarea type="message" name="send" cols="2" rows="hard" placeholder="Сообщение"></textarea>
                <img src="../assets/img/send-arr.svg" alt="Отправить сообщение">
                <div class="menu send__menu">
                    <p><img src="../assets/img/foto-file.svg" alt="Добавить пользователя">Фото или Видео</p>
                    <p><img src="../assets/img/file.svg" alt="Удалить пользователя">Файл</p>
                    <p><img src="../assets/img/location.svg" alt="Удалить пользователя">Локация</p>
                </div>
            </div>
        </div>
    </div>
</section>