{{!< main}}

<section class="authorization">
    <form action="" class="authorization__form">
        <div class="authorization__content">
            {{> title title='Войти'}}
            {{> input 
                type='text' 
                placeholder='Логин'
                class='authorization__input input'
            }}
            {{> input 
                type='password' 
                placeholder='Пароль'
                class='authorization__input input'
            }}
            {{> button 
                text='Авторизоваться' 
                class='authorization__button button'
            }}
            <a href="#">Нет аккаунта?</a>
        </div>
    </form>
</section>

