{{!< main}}

<section class="profile">
    <div class="profile__content">
        <div class="profile__button-back">
            <a href="">
                <img src="../assets/img/button-back.svg" alt="Вернуться назад">
            </a>
        </div>
        <div class="profile__settings">
            <div class="profile__avatar">
                <img src="../assets/img/avatar-img.svg" alt="Аватар пользователя">
            </div>
            {{> title title='Иван'}}
            <div class="profile__inputs">
                {{> inputProfile 
                    label='Старый пароль' 
                    type='password'
                    name='password'
                    placeholder='ivanivanov1'
                    classLable='profile__lable'
                    classInput='profile__input'
                }}
                {{> inputProfile 
                    label='Новый пароль' 
                    type='password'
                    name='password'
                    placeholder='ivanivanov2'
                    classLable='profile__lable'
                    classInput='profile__input'
                }}
                {{> inputProfile 
                    label='Повторите новый пароль' 
                    type='password'
                    name='password'
                    placeholder='ivanivanov2'
                    classLable='profile__lable'
                    classInput='profile__input'
                }}
            </div>
            {{> button class='profile__button button' text='Сохранить'}}
        </div>
    </div>
</section>