{{!< main}}

<div class="signin">
    <form action="" class="signin__form">
        <div class="signin__content">
            {{> title title='Регистрация'}}
            {{> input 
                type='email'
                name='email'
                placeholder='Почта'
                class='signin__input'
            }}
            {{> input 
                type='text' 
                name='login'
                placeholder='Логин'
                class='signin__input'
            }}
            {{> input 
                type='text'
                name='first_name'
                placeholder='Имя'
                class='signin__input'
            }}
            {{> input 
                type='text'
                name='second_name'
                placeholder='Фамилия'
                class='signin__input'
            }}
            {{> input 
                type='phone'
                name='phone'
                placeholder='Телефон'
                class='signin__input'
            }}
            {{> input 
                type='password'
                name='password'
                placeholder='Пароль'
                class='signin__input'
            }}
            {{> input 
                type='password'
                name='password'
                placeholder='Пароль (еще раз)'
                class='signin__input'
            }}
            {{> button 
                text='Создать аккаунт' 
                class='signin__button'
            }}
            <a href="#">Войти</a>
        </div>
    </form>
</div>