<ol class="page__links">
    <li><a href="pages/login.hbs">Страница "Авторизоваться"</a></li>
    <li><a href="pages/signin.hbs">Страница "Регистрация"</a></li>
    <li><a href="pages/404.hbs">Страница "Ошибка 404"</a></li>
    <li><a href="pages/500.hbs">Страница "Ошибка 500"</a></li>
    <li><a href="pages/chats.hbs">Страница "Чат"</a></li>
    <li><a href="pages/profile.hbs">Страница "Профиль"</a></li>
    <li><a href="pages/modal.hbs">Страница "Модальное окно"</a></li>
</ol>
